:root {
  --light: hsl(0, 0%, 85%);
  --dark: hsl(0, 0%, 15%);
}

* {
  box-sizing: border-box;
   margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  max-width: 960px;
  margin: 0 auto;
  background-color: var(--dark);
  color: var(--light);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background: linear-gradient(120deg, hsl(231, 30%, 18%) 25%, hsl(191, 97%, 27%));
}

.header-logo-link {

}

.header-logo-title {
  font-weight: 600;
  font-size: 22px;
}

.header-nav-container > ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style: none;
}

.header-nav-container > ul > li {
  font-size: 16px;
}

.main-container {
  padding: 20px;
  background-color: hsl(0, 0%, 20%);
  border: 1px solid hsl(0, 0%, 25%);
}

a {
  text-decoration: none;
  color: hsl(0, 0%, 85%);
  cursor: pointer;
}

a:hover,
a:focus {
  color: hsl(0, 0%, 95%);
}

.page-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.code-container {
}

.result-container {
  padding: 10px;
  background-color: hsl(191, 94%, 20%);
  color: hsl(0, 0%, 85%);
  font-size: 14px;
}

.result-container button {
  padding: 5px;
  font-size: 12px;
  font-family: inherit;
  cursor: pointer;
  background-color: hsl(191, 94%, 34%);
  border: 1px solid hsl(191, 94%, 50%);
}

.result-container div {
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border: 1px solid hsl(191, 94%, 28%);
}